body{
  font-family: Montserrat,Verdana, Geneva, Tahoma, sans-serif;
}p{
    text-align: center;
    line-height: 40px; 
  }
  header{
    background-image: url('/home/hawk/Documents/delani/assets/backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 667px;
    color:whitesmoke;
    text-align: center;
    padding-top: 250px;
    font-size: 50px;
  }
  #mouse{
    animation-name: mouse ;
    animation-duration: 1s;
    animation-iteration-count:4;
    position: relative;
  }
  @keyframes mouse{
    0% {
      top: 0px;
    }
    50% { 
      top: 50px;
    }
    100% { 
      top: 0px;
    }
  }
  .services{
    background-image: url('/home/hawk/Documents/delani/assets/backgrounds/s_image.jpg');
    height:250px;
    color:white;
    padding-top: 50px;
  }
  #contact{
    background-image: url('/home/hawk/Documents/delani/assets/backgrounds/c_image.jpg'); 
    color: white;
    }
    h1{
      text-align: center;
      text-transform: uppercase;
      font-weight:bold;
    }
    h2{
      text-align: center;
      text-transform: uppercase;
      font-size: 50px;
    }
    h3,h4{
      text-transform: uppercase;
      font-size: medium;
    }
    h3{
      text-align: center;
    }
    #design,#development,#product{
      display:none;
      text-align: center;
    }
  #design>h5,#development>h5,#product>h5{
      font-size: medium;
      font-weight: bold;
      text-transform: uppercase;
    }
    .portfolio{
      display: inline-block;
      position: relative;
      flex-direction: row;
      margin: 10px;
    }
    .portfolio .port-text {
      display: none;
      background:rgba(255,255,255,0.7);
      left: 0px;
      right:0px;
      position: absolute;
      top:0px;
      bottom: 0px;
      padding: 5px;
      padding-top: 40%;
      text-align: center;
      font-weight: bolder;
      font-size: 50px;
    }
    #username,#email,#message{
      background:rgba(255,255,255,0);
    }
   #username,#email{
      width:30%;
    }
    #username{
      float: left;
      margin-left: 150px;
    }
    #email{
      float: right;
      margin-right: 150px;
    }
    #message{
      height: 236px;
      margin-left: 290px;
      border:1px solid whitesmoke;
      color: white;
      width: 50%;
    }
    input[type=text]{
      color:whitesmoke;
      background-color: transparent;
      border:1px solid whitesmoke;
    }
   .form-control::-webkit-input-placeholder{
      color:white;
    }
    ::placeholder{
      color:white; 
    }

  .btn{
    background-color: whitesmoke;
    margin-left:50%;
    margin-bottom: 10px;
  }
  footer{
    padding:20px;
    text-align: center;
  }
  .portfolio>img{
    height:200px;
    width:250px;
    margin-left:50px;
  }
  .what{
    margin-left: 100px;
  }

    








