p{
    text-align: center;
    line-height: 40px; 
  }
  header{
    background-image: url('/home/hawk/Documents/delani/assets/backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 667px;
    color:whitesmoke;
    text-align: center;
    padding-top: 250px;
    font-size: 50px;
  }
  #mouse{
    animation-name: mouse ;
    animation-duration: 1s;
    animation-iteration-count:4;
    position: relative;
  }
  @keyframes mouse{
    0% {
      top: 0px;
    }
    50% { 
      top: 50px;
    }
    100% { 
      top: 0px;
    }
  }
  .services{
    background-image: url('/home/hawk/Documents/delani/assets/backgrounds/s_image.jpg');
    height:250px;
    color:whitesmoke;
    padding-top: 50px;
  }
  #contact{
    background-image: url('/home/hawk/Documents/delani/assets/backgrounds/c_image.jpg'); 
    }
    h1{
      text-align: center;
      text-transform: uppercase;
      font-weight:bold;
    }
    h2{
      text-align: center;
      text-transform: uppercase;
      font-size: 50px;
    }
    h3,h4{
      text-transform: uppercase;
      font-size: medium;
    }
    h3{
      text-align: center;
    }
  
  /*  #username,#email{
      padding-left:300px;
    }*/
    #design,#development,#product{
      display:none;
      text-align: center;
    }
  #design>h5,#development>h5,#product>h5{
      font-size: medium;
      font-weight: bold;
      text-transform: uppercase;
    }
    .portfolio{
      /*float: left;*/
      display: inline-block;
      position: relative;
      flex-direction: row;
      margin: 10px;
    }
    .portfolio .port-text {
      display: none;
      background:rgba(255,255,255,0.7);
      left: 0px;
      right:0px;
      position: absolute;
      top:0px;
      bottom: 0px;
      padding: 5px;
      padding-top: 40%;
      text-align: center;
      font-weight: bolder;
      font-size: 50px;
    }
    #username,#email,#message{
      background:rgba(255,255,255,0);
    }
    #message{
      padding: 100px;
      padding-left: 2px;
      width:600px;
      height: 200px;
      margin-left: 20%;
    }
    #username,#email{
      padding-left: 2px;
      width:300px;
    }
    #username{
      margin-left: 5%;
    }
    #email{
      float:right;
      bottom:0px;
     margin-top: -56px;
     margin-right: 5%;
    }
    .form-control::-webkit-input-placeholder{
      color:white;
    }
  input:placeholder-shown{
    color:white;
  }
  .btn{
    background-color: whitesmoke;
    margin-left:50%;
    margin-bottom: 10px;
  }
  footer{
    padding:20px;
    text-align: center;
  }
  .portfolio>img{
    height:200px;
    width:250px;
    margin-left:50px;
  }

    








